version: '2'

networks:
  default:
    external:
      name: ${NETWORK_NAME}

# Standard HTTP settings for Microtrader Services
#
# HTTP_ROOT:          The root HTTP path that will be registered in service discovery
#
# HTTP_HOST:          The hostname that will be registered in service discovery
#                     If using an external load balancer, set this value to the DNS name of external load balancer
#
# HTTP_PORT:          The port the service will listen on
# HTTP_PUBLIC_PORT:   The port that will be registered in service discovery
#                     If using an external load balancer, set this value to the port of the external load balancer
services:
  microtrader-specs:
    build:
      context: ../../
      dockerfile: docker/release/Dockerfile.specs
    environment:
      QUOTE_URL: http://microtrader-quote:${HTTP_PORT}/${QUOTE_HTTP_ROOT}
      AUDIT_URL: http://microtrader-audit:${HTTP_PORT}/${AUDIT_HTTP_ROOT}
      DASHBOARD_URL: http://microtrader-dashboard:${HTTP_PORT}/
      EVENT_BUS_URL: http://microtrader-dashboard:${HTTP_PORT}/eventbus/
      JUNIT_REPORT_PATH: /reports/acceptance.xml
      JUNIT_REPORT_STACK: 1
    command: 
      - "--reporter"
      - "mocha-jenkins-reporter"
  trader-dashboard:
    build:
      context: ../../
      dockerfile: docker/release/Dockerfile.dashboard
      args:
        app_version: ${APP_VERSION}
    dns_search: .
    environment:
      HTTP_PORT: ${HTTP_PORT}
      CLUSTER_GROUP_NAME: microtrader
      CLUSTER_GROUP_PASSWORD: password
      MARKET_DATA_ADDRESS: ${MARKET_DATA_ADDRESS}   # The event bus address that market data events will be received on
      PORTFOLIO_ADDRESS: portfolio                  # The event bus address that portfolio events will be received on
      _JAVA_OPTIONS: "-Xms256m -Xmx1g"
    ports:
      - "${HTTP_PORT}"
  quote-generator:
    build:
      context: ../../
      dockerfile: docker/release/Dockerfile.quote
      args:
        app_version: ${APP_VERSION}
    dns_search: .
    environment:
      HTTP_ROOT: ${QUOTE_HTTP_ROOT}
      HTTP_HOST: quote-generator
      HTTP_PORT: ${HTTP_PORT}
      MARKET_DATA_ADDRESS: ${MARKET_DATA_ADDRESS}   # The event bus address that market data events will be published to
      MARKET_PERIOD: ${MARKET_PERIOD}               # The frequency in ms to generate market data events
      CLUSTER_GROUP_NAME: microtrader
      CLUSTER_GROUP_PASSWORD: password
    ports:
      - "${HTTP_PORT}"
  portfolio-service:
    build:
      context: ../../
      dockerfile: docker/release/Dockerfile.portfolio
      args:
        app_version: ${APP_VERSION}
    dns_search: .
    environment:
      CLUSTER_GROUP_NAME: microtrader
      CLUSTER_GROUP_PASSWORD: password
    ports:
      - "${HTTP_PORT}"
  audit-service:
    build:
      context: ../../
      dockerfile: docker/release/Dockerfile.audit
      args:
        app_version: ${APP_VERSION}
    dns_search: .
    links:
      - db
    environment:
      HTTP_ROOT: ${AUDIT_HTTP_ROOT}
      HTTP_HOST: audit-service
      HTTP_PORT: ${HTTP_PORT}
      HTTP_PUBLIC_PORT: ${HTTP_PORT}
      CLUSTER_GROUP_NAME: microtrader
      CLUSTER_GROUP_PASSWORD: password
      JDBC_URL: jdbc:mysql://db/${DB_NAME}?useSSL=false
      JDBC_USER: ${DB_USER}
      JDBC_PASSWORD: ${DB_PASSWORD}
      JDBC_DRIVERCLASS: com.mysql.jdbc.Driver
      DB_MIGRATIONS_LOCATION: db/mysql
      PORTFOLIO_ADDRESS: portfolio  # The event bus address that portfolio events will be received on
    ports:
      - "${HTTP_PORT}"
  db:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
  quote-agent:
    image: dpaws/ansible
    links:
      - quote-generator
    environment:
      PROBE_HOST: quote-generator
      PROBE_PORT: ${HTTP_PORT}
  audit-db-agent:
    image: dpaws/ansible
    links:
      - db
    environment:
      PROBE_HOST: db
      PROBE_PORT: 3306
  audit-agent:
    image: dpaws/ansible
    links:
      - audit-service
    environment:
      PROBE_HOST: audit-service
      PROBE_PORT: ${HTTP_PORT}
  trader-agent:
    image: dpaws/ansible
    links:
      - trader-dashboard
    environment:
      PROBE_HOST: trader-dashboard
      PROBE_PORT: ${HTTP_PORT}
